<div class="component --red-background --full-height">
 <div class="component__wrapper">
    <div class="component__title">
    <h2>WELCOME TO </h2>
  </div>
  <div class="component__image">
    <img src="https://upload.wikimedia.org/wikipedia/en/2/27/Trivia.png"/>
  </div>
  <div class="component__buttons">
    <div class="component__button">
      <button md-raised-button (click)="play()">Play</button>
    </div>
    <div class="component__button">
      <button md-raised-button routerLink="/settings">Settings</button>
    </div>
  </div>
 </div>
</div>