md-slider{
    width: 100%;
}

md-card{
    padding:0;
    margin-bottom:20px;
    md-card-header{
        padding:20px;
        color:#fff;
    }
    md-card-content{
        padding:20px;
    }
}

md-radio-button{
    display: block;
    margin-bottom: 10px;
}